@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: "dark";

  color-scheme: dark;
  prefersdark: true;

  --color-base-100: #0e0e0f;
  --color-base-200: #1a1a1c;
  --color-base-300: #262629;

  --color-base-content: #f5f5f5;
}

@utility font-gill-sans {
  font-family: "Gill Sans", sans-serif;
}

@utility font-poppins {
  font-family: Poppins, sans-serif;
}
