/**
 * This file contains site-specific style overrides for Notion elements from
 * react-notion-x.
 *
 * See https://github.com/NotionX/react-notion-x/blob/master/packages/react-notion-x/src/styles.css

 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas I'm trying to make it look another way.
 */

@reference "./global.css";

/* Light mode colors */
.notion-table-of-contents-item {
  color: #5d5d5f !important;
}

/* Dark mode colors */
.notion {
  @apply !bg-[hsl(var(--b1))] !text-[hsl(var(--bc))];
}

.notion-table-of-contents-item {
  @apply dark:!text-[#b0b0b0];
}

.notion-table-of-contents a {
  @apply dark:text-[hsl(var(--bc))] dark:opacity-70;
}

.notion-asset-caption {
  @apply text-[hsl(var(--bc))] opacity-70;
}

.notion-code,
.notion-code pre,
.notion-code code {
  @apply !bg-[hsl(var(--b1))] !text-[hsl(var(--bc))];
}

/* Other */

.notion-page {
  @apply !pl-0;
}

.katex {
  @apply flex items-center justify-center text-sm sm:text-base;
}

.notion-title {
  @apply !hidden;
}

.notion-table-of-contents,
.notion-h1,
.notion-h2,
.notion-h3,
.notion-list,
.notion-text {
  @apply font-gill-sans !w-full;
}

.notion-asset-caption {
  @apply font-gill-sans text-center;
}

.notion-h1 {
  @apply !mt-3 !text-2xl sm:!text-3xl !tracking-tight;
}

.notion-h2 {
  @apply !mt-2 !text-xl sm:!text-2xl !tracking-tight;
}

.notion-h3 {
  @apply !mt-1 !text-base sm:!text-lg !tracking-tight;
}

.notion-table-of-contents,
.notion-list,
.notion-text {
  @apply !mt-0 !text-sm sm:!text-base;
}

.notion-text {
  @apply !ml-1;
}

@media (max-width: 767px) {
  .notion-text {
    @apply !ml-0;
  }
}

@media (max-width: 767px) {
  .notion-table-of-contents {
    @apply !pl-1 !-mt-2;
  }
}

.notion-callout {
  @apply !ml-1;
}

.notion-list {
  @apply !pl-5;
}

:is(ul, ol) > .notion-text {
  @apply !pl-2;
}

@media (min-width: 768px) {
  .notion-text {
    @apply !pl-0;
  }
}

/* Responsible for all the spacing between list items */
.notion-list li {
  @apply !p-[3px];
}
