/**
 * This file contains site-specific style overrides for Notion elements from
 * react-notion-x.
 *
 * See https://github.com/NotionX/react-notion-x/blob/master/packages/react-notion-x/src/styles.css

 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas I'm trying to make it look another way.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-gill-sans {
    font-family: "Gill Sans", serif;
  }
}

.notion {
  --notion-max-width: 100%;
}

.notion-title,
.notion-asset-caption {
  @apply font-gill-sans text-center;
}

.notion-table-of-contents,
.notion-h1,
.notion-h2,
.notion-h3,
.notion-list,
.notion-text {
  @apply font-gill-sans;

  width: 100%;
}

.notion-title {
  margin-top: -1.5rem !important;
  font-size: 1.75rem !important;
}

.notion-h1 {
  font-size: 1.5rem !important;
}

.notion-h2 {
  font-size: 1.25rem !important;
}

.notion-h3 {
  font-size: 1rem !important;
}

.notion-table-of-contents,
.notion-list,
.notion-text {
  font-size: 0.875rem !important;
}

@media (width >= 640px) {
  .notion-title {
    font-size: 2.5rem !important;
  }

  .notion-h1 {
    font-size: 1.75rem !important;
  }

  .notion-h2 {
    font-size: 1.5rem !important;
  }

  .notion-h3 {
    font-size: 1.25rem !important;
  }

  .notion-table-of-contents,
  .notion-list,
  .notion-text {
    font-size: 1rem !important;
  }
}

.notion-code,
.notion-code pre,
.notion-code code {
  color: #24292e !important;
  background-color: #f7f6f3 !important;
}
