@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-eb-garamond-thin {
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-style: normal;
  }

  .font-eb-garamond-light {
    font-family: "EB Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

  .font-eb-garamond-regular {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-eb-garamond-medium {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }

  .font-eb-garamond-bold {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }

  .font-eb-garamond-black {
    font-family: "EB Garamond", serif;
    font-weight: 900;
    font-style: normal;
  }
}
