# Node
/node_modules

# Next.js
/.next/
/out/

# Production
/build

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform

# Supabase
supabase/volumes/db/data

# Misc
.env
.DS_Store
.vscode/
