name: Code Quality

on:
  pull_request:
    branches:
      - master

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: Check all files with pre-commit
    timeout-minutes: 30
    steps:
      - name: Checkout code so that it is available to use in the executing runner
        uses: actions/checkout@v4.1.4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 21.7.3

      - name: Setup pnmp and install dependencies
        run: |
          curl -fsSL https://get.pnpm.io/install.sh | sh -
          pnpm install

      - name: Check all files with pre-commit
        uses: pre-commit/action@v3.0.1
