name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: Run release
    steps:
      - name: Checkout code so that it is available to use in the executing runner
        uses: actions/checkout@v4.2.1
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4.0.4
        with:
          node-version: 21.7.3

      - name: Install Semantic Release and plugins
        run: |
          npm install -g semantic-release@24.1.3 \
                         conventional-changelog-conventionalcommits@8.0.0 \
                         @semantic-release/release-notes-generator@14.0.1 \
                         @semantic-release/commit-analyzer@13.0.0 \
                         @semantic-release/git@10.0.1 \
                         @semantic-release/exec@6.0.3

      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}

  deploy:
    needs: release
    runs-on: ubuntu-latest
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
    steps:
      - name: Checkout code so that it is available to use in the executing runner
        uses: actions/checkout@v4.2.1
        with:
          fetch-depth: 0

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Run Migrations
        run: supabase db push --project-ref ${{ env.PROJECT_ID }}

      - name: Seed Database
        run: supabase db seed --project-ref ${{ env.PROJECT_ID }}
