name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: Run release
    steps:
      - name: Checkout code so that it is available to use in the executing runner
        uses: actions/checkout@v4.1.4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 21.7.3

      - name: Install Semantic Release and plugins
        run: |
          npm install -g semantic-release \
                         conventional-changelog-conventionalcommits
                         @semantic-release/release-notes-generator \
                         @semantic-release/commit-analyzer \
                         @semantic-release/git \
                         @semantic-release/exec

      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}
